:host {
  display: block;
}

.app-tab-nav {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height: 48px;

  .mat-mdc-tab-link {
    min-width: 0; // Allow tabs to shrink
    padding: 0 12px; // Adjust padding
    
    .bi {
      font-size: 1.25rem;
    }

    &.mdc-tab--active {
      color: var(--mat-primary-500, #3f51b5); // Active link color
    }
  }
}
